@import "./config";




.sampleMenu {
    display: flex;
    flex-direction: column;

    width: $sampleMenuWidth;
    height: $canvasSize;
    background-color: #444444;
    color: #ffffff;
    user-select: none;
    cursor: pointer;
    list-style: none;
    padding-top: 15px;
    font-size: 1.1rem;
    overflow-y: auto;

    a {
        color: #ffffff;
        text-decoration: none;
    }

    ul {
        padding: 5px;
        margin-left: 15px;
        margin-right: 15px;

        .sel {
            color: aqua;
        }

        :first-child {

            height: 20px;
        }



    }

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
        background: $scrollbar-background;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover;
    }
}

@media screen and (max-width:768px) {
    .sampleMenu {
        width: 240px;
    }
}

@media screen and (max-width:700px) {
    .sampleMenu {
        display: none;
    }
}